.advantages-image {
    height: 260px;
    margin-left: 0;
    margin-right: 0;
    background-color: #e7b9a2;
    // width: 100%;
    // height: 100%;
  }

.advantages-image img {
width: 100%;
    height: 100%;
  }
