.advantages-list {
  list-style: none;
}

@media (max-width: $mobile-width-only) {
  ul .advantages-list__item:nth-child(4) {
    padding-bottom: 52px;
  }

  .advantages-list__item {
    position: relative;
  }
}

@media (min-width: $tablet-width) {
  .advantages-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .advantages-list__item {
      &--wide {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 2fr;
      }

      &--reverse {
        grid-template-columns: 2fr 1fr;
      }
    }
  }
}
