.advantages-list {
  list-style: none;
}

@media (min-width: $tablet-width) {
  .advantages-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .advantages-list__item {
      &--wide {
        grid-column: 1 / -1;

        display: grid;
        grid-template-columns: 1fr 2fr;
      }

      &--reverse {
        grid-template-columns: 2fr 1fr;
      }
    }
  }
}
