.greeting {
  height: 389px;
  background-image: url("./../img/back-mobile.jpg.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &__text {
    background-image: url("./../img/text-index.svg.svg");
    position: absolute;
    width: 282px;
    height: 214px;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__insert-left {
    background-image: url("./../img/left-triangle.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 600px;
    height: 57px;
    bottom: -1px;
    right: 50%;
  }

  &__insert-right {
    background-image: url("./../img/left-triangle.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 600px;
    height: 57px;
    bottom: -1px;
    left: 50%;
    transform: scale(-1, 1); // отзеркалила
  }
}

@media (min-width: $tablet-width) {
  .greeting {
    min-height: 518px;
    background-image: url("./../img/back-desktop.jpg.jpg");

    &__text {
      width: 461px;
      height: 350px;
      top: 77px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
