.main-footer {
  text-align: center;

  &__hashtag {
    align-items: center;
    padding-top: 38.5px;
    padding-bottom: 33.5px;
    font-size: 21px;
  }
}

@media (min-width: $tablet-width) {

  .main-footer {
    height: 120px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    height: 120px;
    margin-bottom: 0;
    align-items: center;


    &__hashtag {
      align-items: center;
      padding-top: auto;
      padding-bottom: auto;
      font-size: 21px;

    }
  }
    // &__hashtag {
    // align-items: center;
    // padding-top: 0;
    // padding-bottom: 0;
  //   // font-size: 21px;

}



@media (min-width: $desktop-width) {
  .main-footer {
    height: 120px;

    &__wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      }

    &__hashtag {
      align-items: center;
      padding-top: auto;
      padding-bottom: auto;
      font-size: 21px;
    }
  }
}
