.main-nav {
  position: relative;
  width: auto;
  min-height: 56px;
  background-color: #ffffff;
}

.main-nav__toggle {
  width: 68px;
  height: 55px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  z-index: 12;
  top: 0;
  right: 0;
  position: absolute;
  padding: 0;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  width: 27px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: #b3d1e4;
  box-shadow:
    0 9px 0 0 #b3d1e4,
    0 18px 0 0 #b3d1e4;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: #dae9f2;
  box-shadow:
    0 9px 0 0 #dae9f2,
    0 18px 0 0 #dae9f2;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--opened .site-list {
    &__item:hover {
      background-color: #669ec0;
    }
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #81b3d2;
  }

  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--opened .main-nav__list::before {
    content: "";
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 10px;
    bottom: 0;
    box-shadow: inset 0 -4px 7px 0 darken(#81b3d2, 15);
  }
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
  left: auto;
  background-color: #81b3d2;


  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    right: 18px;
    width: 32px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: #a7cadf;
  }

  &:hover::before,
  &:hover::after {
    background-color: #cde1ed;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list a {
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .main-nav {
    &__list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

    &__toggle {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    &__list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

    &__toggle--hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
}
