.main-header {
  position: relative;

  &__menu {
    height: 56px;
    display: flex;
  }

  &__logo {
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: absolyte;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
  }
}
