.main-header {
  position: relative;

  &__menu {
    height: 56px;
    display: flex;
  }

  &__logo {
    z-index: 5;
    position: absolute;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: $mobile-width-only) {
  .main-header__logo--nojs .main-link {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    position: relative;
  }
}
