.search {
  text-align: center;

  &__title {
    padding-top: 39px;
    padding-bottom: 39px;
    font-size: 21px;
    line-height: 21px;
  }

  &__link {
    background-color: #81b3d2;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 49px;
    padding-right: 49px;
    margin-bottom: 49px;
  }

  &__button {
    font-size: 21px;
    line-height: 21px;
    margin: 32px 18px;
  }

  &__map {
    width: 100%;
    height: 100%;
    background-color: #f2f2ec;
  }
}

.search img {
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .search {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 30px;
      line-height: 26px;
      padding-top: 39px;
      padding-bottom: 39px;
    }

    &__hint {
      line-height: 26px;
    }

    &__button {
      font-size: 21px;
      line-height: 21px;
      width: 458px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;
    }

    &__link {
      margin-bottom: 58px;
      margin-top: 41px;
    }
  }
}

@media (min-width: $desktop-width) {
  .search {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 30px;
      line-height: 26px;
      padding-top: 39px;
      padding-bottom: 39px;
    }

    &__hint {
      // font-size: 21px;
      line-height: 26px;
    }

    &__button {
      font-size: 21px;
      line-height: 21px;
      width: 458px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 0;
    }

    .search__link {
      margin-bottom: 66px;
      margin-top: 46px;
    }
  }
}
