$sm: 320px;
$md: 768px;
$lg: 1200px;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

// Colors

// $darkgrey: #292929;
// $lightgrey: #f8f5f2;
// #ffffff
// #81b3d2
